.main {
  padding-top: 40px;
}

.preview {
  width: 220px;
  height: auto;
}

.add-new {
  padding-bottom: 20px;
}

.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

@media (max-width: 47.9em) {
  .navbar-nav .nav-item {
    display: inline-block;
    float: none;
    width: 100%; }
  .navbar-nav .nav-item + .nav-item {
    margin-left: 0; }
  .nav.navbar-nav.pull-xs-right {
    float: none !important; } }

  .main-nav li a {
      border-radius: 5px;
      border-style: solid;
      border-width: 1px;
      border-color: #fff;      
      padding: 0.5em 1em;
      text-shadow: none;
      text-transform: uppercase;
      transition: all 0.25s ease 0s;
  }
  .main-nav li a:hover {
      border-color: #5CB85C;
      /*background-color: #5CB85C;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);*/
  }
  .main-nav li.current a {
      background-color: #5CB85C;
      /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 5px rgba(0, 0, 0, 0.5);*/
      color: #fff;
      /*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);*/
  }
[hidden][style="display: block;"] {
  display: block !important; }
