img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.main {
  margin-top: 40px;
  padding: 10px;
  background-color: rgba(151, 142, 137,0.7);
  border-radius: 10px;
}

.add-new {
  display: inline-block;
  padding-bottom: 20px;
}

.search {
  display: inline-block;
  float: right;
}

.dash-nav {
  padding-top: 10px;
}

.wrapper {
  width: 70%;
  margin-left: auto ;
  margin-right: auto ;  
}

.preview {
  width: 220px;
  height: auto;
}

.input-group {
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000; }

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

@media (max-width: 47.9em) {
  .navbar-nav .nav-item {
    display: inline-block;
    float: none;
    width: 100%; }
  .navbar-nav .nav-item + .nav-item {
    margin-left: 0; }
  .nav.navbar-nav.pull-xs-right {
    float: none !important; } }

  .main-nav li a {
      border-radius: 5px;
      border-style: solid;
      border-width: 1px;
      border-color: #fff;      
      padding: 0.5em 1em;
      color: #449D44;
      text-shadow: none;
      text-transform: uppercase;
      transition: all 0.25s ease 0s;
  }
  .main-nav li a:hover {
      border-color: #449D44;
      /*background-color: #5CB85C;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);*/
  }
  .main-nav li.current a {
      background-color: #449D44;
      /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 5px rgba(0, 0, 0, 0.5);*/
      color: #fff;
      /*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);*/
  }

  .green .active a,
  .green .active a:hover {
      background-color: #449D44;
  }  
  .nav-pills > .active > a, .nav-pills > .active > a:hover {
      background-color: #449D44;
  } 
[hidden][style="display: block;"] {
  display: block !important; }
