{% extends "base.html" %}
{% load staticfiles %}

{% block additional_styles %}
<style type="text/css">
  body {
    background-color: transparent; 
    background: url("{% static 'images/dash.jpg' %}");
  } 
</style>
{% endblock %}  

{% block content %}
<div class="main">
  <div class="row">
    <div class="col-md-3 dash-nav">
      <!-- Nav tabs -->
      <ul class="nav nav-pills nav-stacked green" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#new-recipe" role="tab">New recipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#import-recipe" role="tab">Import recipe from url</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#import-recipe-from-file" role="tab">Import recipe from file</a>
        </li>        
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#wine-note" role="tab">Wine note</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#external-recipe" role="tab">New recipe source</a>
        </li>    
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#external-recipe-sources" role="tab">View recipe sources</a>
        </li>             
      </ul>
    </div>

    <div class="col-md-7">
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane fade in active" id="new-recipe" role="tabpanel">
          <form action="{% url 'new_recipe' %}" method='post' enctype="multipart/form-data">{% csrf_token %}
              <div class="input-group">
                <span class="input-group-btn">
                  <span class="btn btn-primary btn-file">
                    Browse&hellip;<input id="id_recipe_picture" type="file" name="id_recipe_picture">
                  </span>
                </span>
                <input type="text" placeholder="picture to upload ..." class="form-control" readonly>
              </div>
              {{ recipe_form.errors }}
              {{ recipe_form.non_field_errors }}
              {% for field in recipe_form %}
                  {{ field.errors }}
                  {% if field.label_tag == recipe_form.chef.label_tag %}
                      {{ field.as_hidden }}
                  {% elif field.label_tag == recipe_form.source.label_tag %}
                      {{ field.as_hidden }}
                  {% elif field.label_tag == recipe_form.recipe_picture_url.label_tag %}
                      {{ field.as_hidden }}                      
                  {% else %}
                      <div class="form-group">
                          {{ field }}
                      </div>
                  {% endif %}
                  {% if field.help_text %}
                  {{ field.help_text|safe }}
                  {% endif %}
              {% endfor %}
            {{ ingredient_formset.management_form }}
              {% for ingredient_form in ingredient_formset %}
                <div class="input-group ingredient-formset">
                    {% if ingredient_form.instance.pk %}{{ ingredient_form.DELETE }}{% endif %}
                    {% for ing_field in ingredient_form%}
                      {{ ing_field }}
                    {% endfor %}
                </div>
              {% endfor %}
            <p></p>
            {{ method_formset.management_form }}
              {% for method_form in method_formset %}
                <div class="form-group method-formset">
                      {% if method_form.instance.pk %}{{ method_form.DELETE }}{% endif %}
                      {% for meth_field in method_form%}
                        {{ meth_field }}
                      {% endfor %}
                </div>
              {% endfor %}
              <p></p>
              <p><button type="submit" class="btn btn-primary">Submit</button></p>
          </form>          
        </div>
        <div class="tab-pane fade" id="import-recipe" role="tabpanel">
          <form action="{% url 'import_recipe' %}" method='post' enctype="multipart/form-data">{% csrf_token %}
            <div class="form-group">
              {{ import_form.as_p }}
            </div>
              <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="tab-pane fade" id="import-recipe-from-file" role="tabpanel">
          <form action="{% url 'import_recipe_file' %}" method='post' enctype="multipart/form-data">{% csrf_token %}
            <div class="form-group">
              {{ import_file_form.as_p }}
            </div>
              <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>        
        <div class="tab-pane fade" id="wine-note" role="tabpanel">
          <div class="input-group">
            <span class="input-group-btn">
              <span class="btn btn-primary btn-file">
                Browse&hellip;<input id="id_wine_picture" type="file" name="id_wine_picture">
              </span>
            </span>
            <input type="text" class="form-control" readonly>
          </div>
          <form action="{% url 'new_wine' %}" method='post' enctype="multipart/form-data">{% csrf_token %}
              <div class="form-group">
              {% for field in wine_form %}
                  {{ field.errors }}
                  {% if field.label_tag == wine_form.wine_picture_url.label_tag %}
                      {{ field.as_hidden }}                      
                  {% else %}
                      <div class="form-group">
                          {{ field.label_tag }} {{ field }}
                      </div>
                  {% endif %}
                  {% if field.help_text %}
                  {{ field.help_text|safe }}
                  {% endif %}
              {% endfor %}
              </div>
              <p><button type="submit" class="btn btn-primary">Submit</button></p>
          </form>          
        </div>
        <div class="tab-pane fade" id="external-recipe" role="tabpanel">
          <form action="{% url 'define_external' %}" method='post'>{% csrf_token %}
            <div class="form-group">
              {{ external_form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="tab-pane fade" id="external-recipe-sources" role="tabpanel">
          <ul>
          {% for external in externals %}
            <li><a href="{% url 'show_external' external.id %}">{{ external.source }}</a></li>
          {% endfor %}
          </ul>
        </div>                
      </div>
    </div>
  </div>
</div>
{% endblock %}