{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="add-new">
	<a class="btn btn-success-outline" href="{% url 'dashboard' %}">Add a new recipe or tasting note</a>
</div>

{% if wine_list %}
	<div class="row">
    {% for wine in wine_list %}
    	<div class="col-md-3">
	    	<div class="card text-xs-center">
	    		<div class="card-block">
	    			<h5 class="card-title">{{ wine.title }}</h5>
	    		</div>
			    {% if wine.wine_picture_url %}
					<a href="{% url 'show_wine' wine.id %}"><img src="{{ wine.wine_picture_url }}" class="card-img preview"></a>
				{% else %}
					<a href="{% url 'show_wine' wine.id %}"><img src="http://placehold.it/200x150?text=No+image" class="card-img"></a>
				{% endif %}
				<div class="card-block">
		        	<a class="btn btn-warning btn-sm" href="{% url 'edit_wine' wine.id %}">Edit</a>      
		        	<a class="btn btn-danger btn-sm" href="{% url 'delete_wine' wine.id %}">Delete</a>
		        </div>
	        </div>
        </div>
    {% if forloop.counter|divisibleby:4 %}
    	</div>
    	<div class="row">
    {% endif %}        
    {% endfor %}
    </div>
{% else %}
    <p>No wine tasting notes</p>
{% endif %}

{% endblock%}