{% extends "base.html" %}

{% block content %}

{% if recipe_id %}
    <p>editing recipe {{ recipe_id }} </p>
    <form action="{% url 'edit_recipe' recipe_id %}" method='post' enctype="multipart/form-data">{% csrf_token %}
{% else %}
    <form action="{% url 'new_recipe' %}" method='post' enctype="multipart/form-data">{% csrf_token %}
{% endif %}
        {% for field in recipe_form %}
            {{ field.errors }}
            {% ifequal field.label_tag recipe_form.chef.label_tag %}
                {{ field.as_hidden }}
            {% else %}
                <div class="form-group">
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endifequal %}
            {% if field.help_text %}
            {{ field.help_text|safe }}
            {% endif %}
        {% endfor %}
    	{{ ingredient_formset.management_form }}
        {% for ingredient_form in ingredient_formset %}
            <div class="form-group">
                {{ ingredient_form }}
            </div>
        {% endfor %}
    	{{ method_formset.management_form }}
        {% for method_form in method_formset %}
            <div class="form-group">
                {{ method_form }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <a href="{% url 'recipes'%}">Back to recipes list</a>
{% endblock %}
