{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="add-new">
	<a class="btn btn-success-outline" href="{% url 'dashboard' %}">Add a new recipe or tasting note</a>
</div>
	
{% if recipe_list %}
	<div class="row">
    {% for recipe in recipe_list %}
    	<div class="col-md-3">
	    	<div class="card text-xs-center">
	    		<div class="card-block">
	    			<h5 class="card-title">{{ recipe.title }}</h5>
	    		</div>
			    {% if recipe.recipe_picture_url %}
			    	{{ recipe.recipe_picture_url }}
					<a href="{% url 'show_recipe' recipe.id %}"><img src="{{ recipe.recipe_picture_url }}" class="card-img preview"></a>
				{% else %}
					<a href="{% url 'show_recipe' recipe.id %}"><img src="http://placehold.it/200x150?text=No+image" class="card-img"></a>
				{% endif %}
				<div class="card-block">
		        	<a class="btn btn-warning btn-sm" href="{% url 'edit_recipe' recipe.id %}">Edit</a>      
		        	<a class="btn btn-danger btn-sm" href="{% url 'delete_recipe' recipe.id %}">Delete</a>
		        </div>
	        </div>
        </div>
    {% if forloop.counter|divisibleby:4 %}
    	</div>
    	<div class="row">
    {% endif %}        
    {% endfor %}
    </div>
{% else %}
    <p>No recipes</p>
{% endif %}

{% endblock%}