{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h2>{{ recipe.title }}</h2>
		<p>{{ recipe.description }}</p>
		<p>Recipe by {{ recipe.chef }}</p>
		<p>Recipe source {{ recipe.source }}</p>
		<p><ul>
			{% for i in ingredients %}
				<li>{{ i }}</li>
			{% endfor %}
		</ul></p>

		<p><ol>
			{% for s in steps %}
				<li>{{ s }}</li>
			{% endfor %}
		</ol></p>
		{% if recipe.picture %}
			<p><img class="img-fluid img-rounded" src="{{ recipe.picture.url }}"></p>
		{% endif %}
		<p><a href="{% url 'recipes'%}">Back to recipes list</a></p>
	</div>
</div>
{% endblock %}
