<!DOCTYPE html>
<html>
    <head>
        <link href="/static/recipes/css/bootstrap.min.css" rel="stylesheet">
        <title>Recipe Binder</title>
    </head>
    <body>
      <div id="info">
        {% block info %}
        {% if user.is_authenticated %}
          {{ user }}
          <a href="{% url 'logout' %}">Logout</a>
        {% endif %}
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}
                </li>
            {% endfor %}
          </ul>
        {% endif %}
        {% endblock %}
      </div>
      <div id="content">
	{% block content %}{% endblock %}
      </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/recipes/js/bootstrap.min.js"></script>
    <script type='text/javascript'>
        $(document).ready(function(){
            $('.messages').delay(5000).fadeOut();
        });
    </script>
</html>
