{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-3">RecipeBox</h1>
  <p class="lead">This is a webapp for storing recipes (including importing from both <a href="http://www.taste.com.au/" >Taste.com.au</a> and <a href="http://www.bbc.co.uk/food/">BBC Food.</a> You can also store wine tasting notes.</p>
  <hr class="m-y-2">
  <p>This is written and maintained by <a href="https://github.com/drmatthews">Daniel Matthews</a></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
{% endblock%}